.anulacion {
	.anular-hora-1 {
		padding-top: 60px;
		padding-bottom: 60px;
		
		.login-horas {
		    display: inline-block;
		    width: 100%;			
		    .icon-ico-info-2 {
				float: left;
			}
		}		
	}
	h3{
		margin-bottom: 40px;
	}
	.icon-ico-info-2.cc3:before {
		font-size: 36px;
		padding-left: 0px;
		position: absolute;
		@media screen and (max-width: 500px) {
			display: block;
			text-align: center;
			position: static;
		}
	}	
	.info-reserva{
		padding-left: 45px;
		width: 180px;

		&-anular-hora-1 {
			text-align: left;
			span {
				margin-left: 42px;
				display: inline-block;
				float: left;
				&:before {

				}
			}
			@media screen and (max-width: 500px) {
				display: block;
				text-align: center;
				span {
					margin-left: 0px;
				}
			}
			.btn {
				float: right;
			}

		}
	}
	.login-horas{
		&.disabled{
			opacity: 0.5;
			input{
				cursor: not-allowed;
			}
			.btn{
				cursor: not-allowed;
				float: right;

			}

		}
	}
	.contenedor-formularios{
		position: relative;
		float: left;
    	width: 100%;
		&:after{
			content:'';
			display: block;
			clear: both;
		}
		.separador-forms{
			width: 1px;
			height: 100%;
			position: absolute;
			left: 50%;
			border-left:1px solid  #4A4A4A;
			@media screen and (max-width: 991px) {
				display: none;
			}
			span{
				display: block;
				position: absolute;
				left: -10px;
				top:50%;
				width: 20px;
				background-color: #fff;
				color: #4A4A4A;
				font-size: 24px;
				text-align: center;
			}
		} 

	}

	/* PASO 2 ANULACIÓN */
	.info-hora-anular{
		position:relative;
		float: left;
		width: 100%;
		border-top:1px solid #4a4a4a;
		padding-top: 60px;
		.info-txt{
			margin-left: 250px;
			h4{
				font-size: 28px;
				border:0px;
				margin: 0px;
				padding: 0px;
			}
			p{
				font-size: 20px;
				margin: 0px;
			}
		}
		.img-especialista{
			position: absolute;
			left:0px;
			top:40px;
			width: 230px;
			height: 230px;
			overflow: hidden;
			border-radius: 50%;
			border:1px solid #ccc;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	#boton-anular{
		margin: 30px 0px 60px;
	}
	.cuando, .donde{
		display: inline-block;
		margin-top: 40px;
		margin-bottom: 60px;
		font-size: 20px;
		padding-left: 60px;
		background-repeat: no-repeat;
		background-position: center left;
		h5{
			color: $colorCeleste3;
			font-size: 20px;
			font-weight: bold;
			margin:0px;
			font-family: 'Open Sans', sans-serif;
		}
		span{
			font-weight: bold;
		}
		.icon-location {
			font-size: 45px;
			position: absolute;
			margin-left: -50px;
			&:before {
			    vertical-align: 10px;
			    color: $colorCeleste3;
			}
		}
	}
	.cuando {
		background-image: url(#{$rp-imgs}ico-calendario.png);
	}
	.pull-left.info-reserva-anular-hora-1, .icon-ico-info-2.cc3 {
			margin-top: 25px;
	}
}
@media screen and (max-width: 576px) {
.donde {
	    margin-left: 11px !important;
	    display: block;
	}
}

/* PASO 3 ANULACION */
.final-anular{
	@extend .pantalla-exito;
	padding: 150px 0px;
}
#anular-hora-2 {
	padding: {
		top: 60px;
		bottom: 60px;
	}
}
@media screen and (max-width: 767px) {
	.anulacion{
		h3{
			font-size: 18px;
			margin-bottom: 10px !important;
		}
		h4{
			font-size: 16px;
			padding: 0px 0px 20px;
		}
		.sub-header{
			min-height: 120px !important;
		}
		.final-anular{
			padding: 40px 20px;
			text-align: center;
			h3{
				padding: 0px;
				margin-top: 90px !important;
				&:before{
					top:-70px;
					left: 0px;
					right:0px;
					margin:0 auto;
					width: 60px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			p{
				padding: 0px;
				font-size: 16px;
			}
			#volver-busqueda{
				float: initial;
			}
		}
		.info-hora-anular{
			padding-top: 40px;
			.info-txt{
				margin: 0px 20px;
				h4{
					font-size: 16px;
					padding-left: 110px;
				}
				p{
					font-size: 14px;
					padding-left: 110px;
				}
			}
			.img-especialista{
				left:20px;
				top:25px;
				width: 90px;
				height: 90px;
			}
		}
		.cuando, .donde{
			margin: 20px 0px 0px 15px;
			font-size: 14px;
			padding: {
				left: 40px;
				top: 20px;
				} 

			background-repeat: no-repeat;
			background-position: top left;
			h5{
				color: $colorCeleste3;
				font-size: 16px;
				font-weight: bold;
				margin:0px;
				font-family: 'Open Sans', sans-serif;
			}
			span{
				font-weight: bold;
			}
		}
		.donde {
			margin-left: 32px
		}
		.cuando {
			padding-left: 60px;
			margin-left: 0px;
		    background-position: bottom left;
		}
		.contenedor-formularios{
			.separador-forms{
				display: none;
			}
		}
		.info-reserva{
			display: block;
			margin-top:15px;
			float: initial !important;
		}

	}

}
