.chequeo-med {
	line-height: 1.6;
	padding-bottom: 50px;
	.sub-header + .container {
		padding-top: 20px;
	}
	.prestaciones-m-items {
		padding-bottom: 20px;
	}
	ul {
		padding-left: 17px;
	}
	hr {
		border-top: 1px solid $colorGris1;
	}
	.su-cards-container {
		padding-top: 0px;
		.su-card {
			@media screen and (max-width: 767px) {
				display: block;
				width: 100%;
				padding: {
					left: 0px;
					right: 0px;
				}
			}
			& > div.bgb1 {
				min-height: 230px;
				@media screen and (max-width: 767px) {
					min-height: unset !important;
				}
				p {
					text-align: left;
					padding-left: 10px;
				}
			}
		}
	}
	.serv-urgencias {
		& > h4 {
			margin-bottom: 0px;
			padding-bottom: 20px;
		}
	}
	.cheq-gin {
		margin-bottom: 20px;
	}
}
.chequeo-med, .chequeo-est {
	hr.separador-10px {
		background-color: $colorGris3;
		margin: {
			bottom: 20px;
			top: 10px;
		}
	}
}

.chequeo-prep {
	.sub-header {
		margin-bottom: 0px;
	}
	padding-bottom: 60px;
	.ch-p-bgimg {
		background: {
			image: url(#{$rp-imgs}medicos-pasillos.jpg);
			size: 50% auto;
			position: right center;
			repeat: no-repeat;
		}
		@media screen and (max-width: 767px) {
			background-image: url("") !important;
		}
		padding: {
			top: 40px;
			bottom: 40px;
		}

	}
}
.chequeo-est {
	padding-bottom: 50px;
	.sub-header {
		& + div {
			padding-top: 5px;
		}
	}
	.ch-es-row {
		padding-bottom: 30px;
		display: table;
    	width: 100%;
		ul {
			padding-left: 19px;
		}
		& > div {
			&:first-child {
				padding-left: 0px;
			}
			&:last-child {
				padding-right: 0px;
			}
			@media screen and (max-width: 767px) {
				padding: {
					left: 0px;
					right: 0px;
				}
			}
		}
		&:first-child {
			@media screen and (max-width: 767px) {
				padding-bottom: 0px;
			}
		}
	}
	.ch-es-cint-foot > div {
		& > div h4, & > div p {
			margin: 0px !important;
		}
		h4 {
			padding: 25px 0px;
		}
		& > div p {
			padding: 28px 0px;
		}
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			padding-right: 0px;
		}
		& > div > div {
			padding: {
				left: 0px;
				right: 0px;
			}			
		}
		@media screen and (max-width: 767px) {
			padding: {
				left: 0px;
				right: 0px;
			}
		}
	}
}

