// DATEPICKER
.bootstrap-datetimepicker-widget {
    max-width: 100%;
    width: 100%;
    text-align: center;
    z-index: 99999;
    //background-color: $colorCeleste4;
    .datepicker {
        padding: 10px;
        min-width: 320px;
        width: 100%;
        text-align: center;
        display: inline-block;
        .datepicker-days {
            width: 100%;
            .table-condensed {
                thead {
                    tr {
                        &:first-child {
                            background-color: $colorCeleste4;
                            color: $colorGris5;
                            text-transform: uppercase;

                            
                            th{
                                height: 36px;
                                width: 29px;
                                padding: 0;
                                //border-bottom: 5px solid #a9c3e8;
                                &:first-of-type,
                                &:last-of-type{
                                    color: white;
                                    background-color: $colorCeleste3;
                                    width: unset !important;
                                }
                                &.picker-switch{
                                    cursor: pointer;
                                }
                            }
                        }
                        &:nth-child(2){
                            th{
                                background-color: #6194de;
                                color: white;
                                height: 36px;
                                border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                                border-bottom-left-radius: 0px;
                                border-bottom-right-radius: 0px;  
                            }
                           
                            
                        }
                    }
                    th {
                        text-align: center;
                        text-transform: uppercase;
                        height: 60px;
                        &.picker-switch{
                            font-size: 24px;
                        }
                    }
                }
                tbody{
                    background-color: white;
                    td {
                        height: 40px;
                        font-size: 16px;
                        border-radius: 10px;
                        background-color: #EFEFEF;
                        border: 3px solid #fff;
                        
                        font-weight: bold;
                        &.day {
                            cursor: pointer;
                            color: #333333;
                            &.active {
                                background: $colorCeleste3;
                                color: #fff;
                                &.today {}
                            }
                            &.new {
                                color: #ddd;
                            }
                            &.disabled {
                                cursor: not-allowed;
                                color: #99999B;
                            }
                            &.hora-disponible{
                                background: #EC128D;
                            }
                            &.hora-agotada{
                                background: #B6B6B7;
                                
                            }
                            &.no-disponible{
                                background:#A9C3E8;
                            }
                        }
                    }
                }
               
            }
        }
    }
    .timepicker-picker {
        text-align: center;
        width: 100%;
        margin: 0px;
        .table-condensed {
            tr {
                &:first-child,
                &:last-child{
                    span {
                        color: white;
                    }
                    a {
                        color: white;
                        min-width: 29%;
                        &:active{
                            box-shadow: none;
                        }
                    }
                }
                button {
                    width: 36px;
                    min-width: 36px;
                    background-color: #6194de;
                    background-image: none;
                    font-weight: 400;
                    color: white;
                    height: 36px;
                    padding: 8px 0px;
                    border-radius: 6px;
                    font-size: 14px;
                    margin: 0 auto;
                    border: none;
                }
                .separator{
                    color: white;
                }
            }
            .timepicker-hour,
            .timepicker-minute {
                display: block;
                background-color: #6194de;
                width: 36px;
                color: white;
                height: 36px;
                padding: 8px 0px;
                border-radius: 6px;
                font-size: 14px;
                margin: 0 auto;
            }
        }
    }
    .datepicker-years {
        text-align: center;
        thead {
            tr {
                &:first-child {
                    background-color: $colorCeleste4;
                    color: $colorGris5;
                    text-transform: uppercase;

                    th{
                        height: 36px;
                        width: 29px;
                        padding: 0;
                        &:first-of-type,
                        &:last-of-type{
                            color: white;
                            background-color: $colorCeleste3;
                        }
                        &.picker-switch{
                            cursor: pointer;
                        }
                    }
                }
            }
            th {
                text-align: center;
                height: 60px;
            }
        }
        tbody{
            td{
                padding-left: 20px;
                padding-right: 20px;
                span{
                    background-color: #6194de;
                    color: white;
                    text-transform: uppercase;
                    margin: 14px;
                    &.active{
                        background-color: #6194de !important;
                        background-image: none;
                    }
                }
            }
        }
        .year {
            display: inline-block;
            padding: 0;
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin: 10px 6%;
            text-align: center;
            border: none;
            &.active {
                background-color: $color3;
                border-color: $color3;
                font-weight: bold;
            }
            &:hover{
                background-image: none;
                background-color: $colorCeleste3;
            } 
        }
    }
    .datepicker-months {
        thead {
            tr {
                &:first-child {
                    background-color: $colorCeleste4;
                    color: $colorGris5;
                    text-transform: uppercase;

                    th{
                        height: 36px;
                        width: 29px;
                        padding: 0;
                        &:first-of-type,
                        &:last-of-type{
                            color: white;
                            background-color: $colorCeleste3;
                        }
                        &.picker-switch{
                            cursor: pointer;
                        }
                    }
                }
            }
            th {
                text-align: center;
                height: 60px;
            }
        }
        tbody{
            td{
                padding-left: 20px;
                padding-right: 20px;
                span{
                    background-color: #6194de;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        .month {
            display: inline-block;
            padding: 0;
            margin: 10px 6%;
            text-align: center;
            border: none;
            width: 36px;
            height: 36px;
            line-height: 36px;
            &.active{
                background-color: #6194de !important;
                background-image: none;
            }
            &:hover{
                background-image: none;
                background-color: $colorCeleste3 !important;
            }
        }
    }
    .datepicker-decades {
        thead {
            tr {
                &:first-child {
                    background-color: #E0FAF6;
                    color: #70C6B8;
                    text-transform: uppercase;
                }
            }
            th {
                text-align: center;
                height: 60px;
            }
        }
        .decade {
            display: inline-block;
            padding: 10px 8px;
            margin: 5px;
            text-align: center;
            border: 1px solid #ddd;
            font-size: 12px;
            cursor: pointer;
            &.active {
                background-color: $color3;
                border-color: $color3;
                font-weight: bold;
            }
            &.disabled {
                cursor: not-allowed;
                background-color: #e8e8e8;
                color: #ccc;
            }
        }
    }
    .table-condensed {
        width: 100%;
        a span {
            &.glyphicon-time,
            &.glyphicon-calendar {
                display: block;
                background-color: $color2;
                color: #fff;
                text-align: center;
                padding: 10px;
                margin: 0px 25px;
            }
        }
    }
    .timepicker-hours,
    .timepicker-minutes {
        text-align: center;
        .hour,
        .minute {
            border: 1px solid #ddd;
            width: 50px;
            display: inline-block;
            margin: 5px 7px;
            cursor: pointer;
            &.disabled {
                background-color: #ddd;
                color: #c1c1c1;
                cursor: not-allowed;
                &:hover {
                    background-color: #ddd;
                    color: #c1c1c1;
                }
            }
            &:hover {
                background-color: #C5E9E4;
                border: 1px solid #C5E9E4;
            }
        }
    }
}

.remove-th {
    .bootstrap-datetimepicker-widget {
        th {
            display: none;
        }
    }
}