.sub-header {
    background-color: $colorCeleste3;
    min-height: 160px;
    margin-bottom: -10px;
    max-height: 211px;
    display: inline-block;
    width: 100%;
    h2 {
        color: #fff;
        font-size: 34px;
        @media screen and (max-width: 767px) {
            padding: 45px 0px 17px;
        } 
        & > small {
            color: #FFF;
            top: -6px;
            position: relative;
        }
    }
    #volver-a-buscar {
        position: absolute;
        right: 20px;
        top: 50px;
        padding-right: 50px;
        background-image: url(#{$rp-imgs}ico-buscar.png);
        background-repeat: no-repeat;
        background-position: 240px center;
    }
}
.sub-header.min {
    min-height: 54px !important;
    margin: 0px !important;
}
.sub-header-2 {
    background-color: #e1e0e1;
    min-height: 162px;
    padding-top: 5px;
    padding-bottom: 5px;
    h3 {
        font-family: 'Open Sans', sans-serif;
        color: #5d5d60;
        font-weight: 400;
        margin-top: 40px;
        line-height: 120%;
    }
}

.breadcrumbs {
    color: #fff;
    font-size: 12px;
    padding-top: 25px;
    span {
        display: block;
        float: left;
    }
    ol {
        list-style: none;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        li {
            float: left;
            padding: 0px;
            font-size: 12px;
            line-height: 1.6;
            a {
                color: #fff;
            }
            &:before {
                padding: 0 10px;
                content: "/\00a0";
            }
            &.active {
                a {
                    font-weight: bold;
                }
            }
            &:first-child {
                margin-left: 20px;
                &:before {
                    display: none;
                }
            }
        }
    }
}

#consultas {
    .sub-header-2 {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 991px) {
    .sub-header {
        min-height: 126px;
        margin-top: 50px;
    }
}