$color1: #0751A4;
$color2: #7297C5;
$color3: #cee1ef;
$color4: #3d7dda;
$color5: #9eaec0;
$color6: #317FE2;
$color7: #E72E7E;

//NUEVA PALETA COLORES
$colorCeleste1: #b8d3fb;
$colorCeleste2: #549ae7;
$colorCeleste3: #3d7dda;
$colorCeleste4: #a9c3e8;
$colorCeleste5: #cedbee;
$colorCeleste6: #e5edf6;
$colorCeleste7: #e0edf6;
$colorCeleste8: #cee1ef;
$colorCeleste9: #80afe3;
$colorCeleste10: #14325e;
$colorCeleste11: #1bd4f7;

$colorAzul1: #0086e0;
$colorAzul2: #2583d8;
$colorAzul3: #14458e;

$colorGris1: #d8d8d8;
$colorGris2: #4a4a4a;
$colorGris3: #efefef;
$colorGris4: #e1e0e1;
$colorGris5: #5d5d60;
$colorGris6: #979797;
$colorGris7: #b6b6b7;
$colorGris8: #fafafa;
$colorGris9: #ccc;
$colorGris10: #d5d5d5;

$colorVerde1: $colorCeleste6;
$colorVerde2: $colorCeleste8;
$colorVerde3: #2aa637;
$colorVerde4: #398734;

$colorFucsia: #f678ba;
$colorFucsia1: #f678ba;
$colorFucsia2: #ec128d;

$colorRosa1: #fce6f1;



$colorNegro: #333333;

$colorAmarillo1: #f38b08;

$colorAnaranjado: #ef7939;

$blanco-transparente: rgba(255,255,255,.5);
$rp-imgs: '../images/'; // #{$rp-imgs}
$hoverBtns: #3ed2f7;
$alertaRoja1: #ec3f6b;